# Use the npm registry
registry=https://registry.npmjs.org/

# Optional: Set to ignore optional dependencies to reduce build time and size
optional=false

# Optional: Set to ignore scripts if not needed
ignore-scripts=true

# In chaincode/.npmrc
engine-strict=true
node_version=18.20.8